# Public Domain (-) 2018-present, The Espian Source Authors.
# See the Espian Source UNLICENSE file for details.

# Specific paths

/go/v8/build/
/go/v8/distfile/
/go/v8/include/
/go/v8/lib/
/go/v8/scripts.tar

# Hidden files/directories

.DS_Store

# File patterns

_cgo_export.h
_obj/

*.a
*.o
*.pyc
*.pyo
